
:root {
    --static: rgba(225, 225, 225, 0.5);
    --static4: rgba(225, 225, 225, 0.2);
    --static3: #ffffff;
    --static2: #0f0f0f;
    --static5: rgb(24, 172, 122);
    --primary: #000000;
    --secondary: #ffffff;
    --primbuttn: #4685FF;
    --secbuttn: #F2F2F2;
    --accent: #FFB084;

}

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

:root {
    --h1: 48px;
    --h2: 32px;
    --subtitle: 24px;
    --p: 18px;
    --sub: 16px;
}

* {
    box-sizing: border-box;
    scroll-padding-top: 3em;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0 15%;
    gap: 4em;

    /* font */
    font-family: 'Inter', sans-serif;

    /* color */
    color: var(--primary);
    background-color: var(--secondary);
    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8em;
    margin: 3em 0;
}


/* text styles */
h1 {
    font-size: 48px;
    letter-spacing: -2px;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-size: 32px;
    letter-spacing: -2px;
    font-weight: 700;
    margin: 0;
}

h3 {
    font-size: var(--subtitle);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 18px;
    letter-spacing: normal;
    line-height: 150%;
}

::selection {
    background-color: var(--accent);
}

.subtitle {
    font-size: var(--subtitle);
}

.sub {
    font-size: var(--sub);
}

.link.reversed {
    border-bottom: 2px solid var(--secondary);
}

.link.reversed:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

.link {
    border-bottom: 2px solid var(--accent);
}

.link:hover {
    background-color: var(--accent);
    color: var(--secondary);
}



/* toolbar styles */

.toolbar {
    position: fixed;
    bottom: 3em;

    display: flex;
    flex-direction: row;
    background-color: var(--static);
    padding: 6px;
    border-radius: 6px;
    gap: 6px;
    z-index: 9999;
}

.option {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    cursor: pointer;
    gap: 0.5em;
    border-radius: 4px;
    user-select: none;
    position: relative;
}

.colorpicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    height: 60px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    visibility: hidden;
    position: absolute;
    -webkit-user-select: auto;
}

.colorpicker::-webkit-color-swatch {
    border-radius: 4px;
    border: none;
}

.colorpicker::-moz-color-swatch {
    border-radius: 4px;
    border: none;
}

label {
    cursor: pointer;
    text-align: center;
    padding: 1.3em 1.5em;
    margin:0;
}


.prim {
    background-color: var(--secondary);
    color: var(--primary);
}

.sec {
    background-color: var(--secondary);
    color: var(--primary);
}

.primbuttn {
    background-color: var(--primbuttn);
    color: var(--secondary);
}

.secbuttn {
    background-color: var(--secbuttn);
    color: var(--primary);
}

.accent {
    background-color: var(--accent);
    color: var(--primary);
}

.export {
    color: var(--static2);
    background-color: var(--static3);
    padding: 1.1em 1.5em;
}

.randomize {
    color: var(--static2);
    background-color: var(--static3);
    padding: 1.1em 1.5em;
}

.share-link {
    color: var(--static2);
    background-color: var(--static3);
    padding: 1.1em 1.5em;
    gap: 1em;
}

.share-link-buttn {
    transition: all 0.2s ease;
}

.share-link-buttn.copied {
    color: var(--static5);
    transition: all 0.2s ease;
}


/* toolbar animation after clicking Get Started */

.toolbar.highlighted {
    animation-name: highlight;
    animation-duration: 0.4s;
}

@keyframes highlight {
    0%, 100% {transform: translate(0, 0px) scale(1); transition: all 0.4s cubic-bezier(.47,1.64,.41,.8);}

    25% {transform: translate(0, -15px) scale(1); transition: all 0.4s cubic-bezier(.47,1.64,.41,.8);}

    50% {transform: translate(0, 0px) scale(1); transition: all 0.4s cubic-bezier(.47,1.64,.41,.8);}

    75% {transform: translate(0, -7px) scale(1); transition: all 0.4s cubic-bezier(.47,1.64,.41,.8);}
}


/* nav */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.logoface {
    width: 50px;
    transform: rotate(0);
}

.logo:hover >
.logoface {
    transform: rotate(360deg);
    transition: all ease-in-out 0.4s;
}

.sitename {
    font-size: var(--subtitle);
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.menu-item {
    font-size: var(--sub);
    transition: transform ease 0.2s;
}

.menu-item-font {
    font-size: var(--sub) !important;
}

.menu-item-header {
    opacity: 50%;
}
.current {
    font-weight: bold;
}


/* buttons */

.primary-button {
    padding: 1em 2em;
    background-color: var(--primbuttn);
    color: var(--secondary);
    border-radius: 6px;
    transition: transform ease 0.2s, box-shadow ease 0.2s;
    display: inline-block;
    font-size: 18px;
    z-index: 2;
}

.primary-button:hover {
    transform: translate(0, -3px);
    box-shadow: 0 20px 80px -10px var(--primbuttn);
}


.secondary-button {
    padding: 1em 2em;
    background-color: var(--secbuttn);
    color: var(--primary);
    border-radius: 6px;
    transition: transform ease 0.2s, box-shadow ease 0.2s;
    display: inline-block;
    font-size: 18px;
    z-index: 1;
}

.secondary-button:hover {
    transform: translate(0, -3px);
}




/* hero */

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 6em;
    gap: 3em;
}

.color-effect {
    background: linear-gradient(120deg, var(--primbuttn), var(--accent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
    width: 50%;
}

.hero-cta {
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
}

.hero-scroll {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    font-size: 16px;
}

.mondrian {
    max-width: 100%;
}

.hero-img {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#mondrian-info-icon {
    transition: all ease 0.3s;
    position: absolute;
}


#mondrian-info-icon:hover {
    opacity: 50%;
    transition: all ease 0.3s;
}


/* part 1 */

.part1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.part1-rows {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.part1-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.part1-card {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 3em;
}

.part1-card-bg {
    background-color: var(--primary);
    opacity: 5%;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    flex: 1;
    top: 0;
    left: 0;
}

.part1-card-img {
    height: 50%;
}

.highlight {
    z-index: 5;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.highlight::before {
    content: "";
    height: 50%;
    width: 100%;
    display: block;
    z-index: -5;
    opacity: 30%;
    position: absolute;
    transition: all 0.3s ease;
    background: linear-gradient(180deg, transparent 50%, var(--primbuttn) 50%);
}

.part1-card:hover > .highlight::before {
    transition: all 0.3s ease;
    height: 100%;
}

.part1 > h3 {
    align-self: flex-start;
}


/* part 2 */

.part2 {
    background-color: var(--accent);
    border-radius: 6px;
    padding: 3em 5em;

    display: flex;
    flex-direction: row;
    gap: 6em;
    justify-content: space-between;
}

.part2-left {
    width: 30%;
}

.part2-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    gap: 5em;
}

.step {
    width: 30%;
    flex-grow: 2;
}

.one::before {
    content: '1';
    font-size: var(--h2);
    font-weight: 800;
    position: absolute;
    transform: translate(-1em, 0);
}

.two::before {
    content: '2';
    font-size: var(--h2);
    font-weight: 800;
    position: absolute;
    transform: translate(-1em, 0);
}

.three::before {
    content: '3';
    font-size: var(--h2);
    font-weight: 800;
    position: absolute;
    transform: translate(-1em, 0);
}

.four::before {
    content: '4';
    font-size: var(--h2);
    font-weight: 800;
    position: absolute;
    transform: translate(-1em, 0);
}

.part2.get-suggestions {
    background-color: #F1F1F1;
}

/* part 3 */

.part3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 2em;
}

.part3-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.part3-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 100%;
    padding: 1em 3em 3em 3em;
    position: relative;
    gap: 2em;
}

.promo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.promo-text {
    color: var(--primbuttn);
}

.promo-img {
    background-color: var(--primbuttn);
}


.part3-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
    
}

.part3-bg {
    border: solid 4px var(--secbuttn);
    opacity: 30%;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    z-index: -5;
    top: 0;
    left: 0;
}

.best {
    border: none;
    background-color: var(--primbuttn);
    opacity: 5%;
}

.part3-card-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.part3-card-text > p {
    text-align: center;
}

.part3-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check-icon {
    width: 20%;
}

.list-item {
    width: 80%;
}



/* part 4 */

.part4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: 100%;
}

.faq-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
}

.faq {
    background-color: var(--secbuttn);
    padding: 0.5em 2em;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
}

.faq-q {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.faq-q > p {
    font-weight: bold;
}

.faq-a {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: max-height ease 0.2s, opacity ease 0.2s, visibility ease 0.2s;
}

.faq-a.expand {
    display: flex;
    opacity: 1;
    visibility: visible;
    transition: max-height ease 0.2s, opacity ease 0.2s, visibility ease 0.2s;
}

.faq-icon {
    transform: rotate(0deg);
    transition: all ease-in-out 0.2s;
}

.faq-icon.expand {
    transform: rotate(45deg);
    transition: all ease-in-out 0.2s;
}

.part4-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* part 5 - footer */

.part5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.reversed {
    color: var(--secondary);
    background-color: var(--primary);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
    border-radius: 6px;
    background-color: var(--primary);
    color: var(--secondary);
    padding: 3em 5em;
    width: 100%;
    margin-bottom: 10em;
}

.footer-cols {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3em;
    width: 100%;
}

.footer-col {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 30%;
}

.menu-item:hover {
    transform: translate(0, -3px);
}



/* tip */

#tip-bar {
    position: fixed;
    top: 1em;
    right: 0;
    background-color: #f2f2f2;
    color: var(--static2);
    text-align: center;
    padding: 0.5em 1em 0.5em 2em;
    transition: transform 0.2s ease;
    transform: translateX(40em);
    z-index: 9999;
    border-radius: 6px 0 0 6px;
    border-bottom: 6px solid var(--primbuttn);

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1em;
    justify-content: start;
}
  
#tip-bar.show {
    transform: translateX(0);
}
  
#close-btn {
    background-color: transparent;
    border: none;
    font-size: 32px;
    cursor: pointer;
    color: var(--static2);
}
  

/* color source top left */

.color-source {
    position: fixed;
    padding: 0.5em 1em;
    top: 1em;
    left: 1em;
    font-size: 14px;
    color: var(--primary);
    background-color: var(--secondary);
    border-radius: 6px;
    line-height: 200%;
    z-index: 9999;
}





/* responsiveness */


@media screen and (max-width: 1200px) {
    body {
        margin: 0 5%;
    }

    .option > div, .option > label {
        font-size: 14px;
    }

    .toolbar {
        bottom: 2em;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    .subtitle {
        font-size: 20px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .sub {
        font-size: 14px;
    }


}

@media screen and (max-width: 900px) {

    body {
        gap: 2em;
    }
    .hero {
        flex-wrap: wrap;
        justify-content: center;
    }

    .part1-cards {
        flex-direction: column;
        gap: 2em;
    }

    .part1-card {
        width: 100%;
    }

    .part2 {
        flex-direction: column;

    }

    .part3-cards {
        flex-direction: column;
        gap: 2em;
    }

    .part3-card {
        width: 100%;
    }

    .part2-left {
        width: 100%;
    }

    .part2-right {
        width: 100%;
    }

    .toolbar {
        flex-wrap: wrap;
        justify-content: center;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    main {
        margin: 3% 5%;
        width: 100%;
    }

    .footer-cols {
        flex-direction: column;
    }

    .footer-col {
        width: 100%;
    }

    .footer {
        padding: 3em;
    }

    .hero-text {
        width: 100%;
        gap: 1em;
    }

    .hero-img {
        width: 80%;
    }

    .mondrian {
        height: auto;
    }

    .hero {
        flex-direction: column-reverse;
        align-items: center;
        gap: 2em;
    }

    .logoface {
        width: 30px;
    }


    .hero-cta {
        flex-direction: column;
    }

    .primary-button, .secondary-button {
        text-align: center;
    }

    .menu {
        display: none;
    }

    .rolloutbutton {
        display: flex !important;
        padding: 0.5em 5em;
    }

    .rolloutbutton.rotate > svg {
        transform: rotate(180deg);
    }

    .toolbar {
        flex-direction: column;
        align-self: flex-end;
        bottom: 1em;
    }

    .rollout {
        display: none !important;
    }

    .get-suggestions-toolbar {
        flex-direction: row;
        align-self: center;
    }

    .hero-img-left, .hero-img-right {
        display: none;
    }

    .main-block > p {
        font-size: 12px;
    }

    .color-block > p {
        font-size: 12px;
    }

    .main-block {
        height: 150px !important;
    }

    .color-block {
        height: 150px !important;
    }

    .row {
        width: 100% !important;
    }
    
}

@media screen and (max-width: 800px) {

    .step {width: 100%;}

    .part2 {
        gap: 1em;
    }

    .part2-right {
        gap: 1em;
    }

    .color-code {
        font-size: 10px;
    }




}




/* mobile expand button */

.rolloutbutton {
    display: none;
    background-color: var(--static3);
    color: var(--static2);
}

.rollout {
    display: flex;
}





/* GET SUGGESTIONS PAGE */



.color-block {
    width: 100%;
    height: 100px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    user-select: none;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1em;
}

.main-block {
    width: 65%;
    height: 100px;
    display: inline-block;
    border-radius: 10px;
    background-color: #3C62E7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-block > p {
    color: #fff;
}


.hero-img-left, .hero-img-right {
    opacity: 20%;
}


.color-code {
    opacity: 0;
    transition: 0.3s ease all;
    transition-delay: 0.1s;

    background-color: rgba(255, 255, 255, 0.74);
    padding: 0.5em;
    border-radius: 5px;

}

.color-block:hover > .color-code {
    opacity: 1;
    transition: 0.3s ease all;
}