:root {
    --static: rgba(225, 225, 225, 0.5);
    --primary: #000000;
    --secondary: #ffffff;
    --primbuttn: #4685FF;
    --secbuttn: #F2F2F2;
    --accent: #FFB084;

}

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

:root {
    --h1: 48px;
    --h2: 32px;
    --subtitle: 24px;
    --p: 18px;
    --sub: 16px;
}

::selection {
    background-color: var(--accent);
}

.subtitle {
    font-size: var(--subtitle);
}

.sub {
    font-size: var(--sub);
}

* {
    box-sizing: border-box;
    scroll-padding-top: 3em;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0 15%;
    gap: 4em;

    /* font */
    font-family: 'Inter', sans-serif;

    /* color */
    color: var(--primary);
    background-color: var(--secondary);
    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8em;
    margin: 3em 0;
}


/* text styles */
h1 {
    font-size: 48px;
    letter-spacing: -2px;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-size: 32px;
    letter-spacing: -2px;
    font-weight: 700;
    margin: 0;
}

h3 {
    font-size: var(--subtitle);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 18px;
    letter-spacing: normal;
    line-height: 150%;
}

.toolbar {
    position: fixed;
    bottom: 3em;

    display: flex;
    flex-direction: row;
    background-color: var(--static);
    padding: 6px;
    border-radius: 6px;
    gap: 6px;
    z-index: 1000;
}

.option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    cursor: pointer;
    gap: 0.5em;
    border-radius: 4px;
}

.colorpicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    height: 60px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    visibility: hidden;
}

.colorpicker::-webkit-color-swatch {
    border-radius: 4px;
    border: none;
}

.colorpicker::-moz-color-swatch {
    border-radius: 4px;
    border: none;
}

label {
    position: absolute;
    cursor: pointer;
    padding: 1em;
}

.prim {
    width: 100px;
    background-color: var(--secondary);
    color: var(--primary);
}

.sec {
    width: 140px;
    background-color: var(--secondary);
    color: var(--primary);
}

.primbuttn {
    width: 160px;
    background-color: var(--primbuttn);
    color: var(--secondary);
}

.secbuttn {
    width: 190px;
    background-color: var(--secbuttn);
    color: var(--primary);
}

.accent {
    width: 100px;
    background-color: var(--accent);
    color: var(--primary);
}

.export {
    width: 120px;
}



/* nav */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.logoface {
    width: 60px;
    transform: rotate(0);
}

.logo:hover >
.logoface {
    transform: rotate(360deg);
    transition: all ease-in-out 0.4s;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.menu-item {
    font-size: 18px;
    transition: transform ease 0.2s;
}


/* buttons */

.primary-button {
    padding: 1em 2em;
    background-color: var(--primbuttn);
    color: var(--secondary);
    border-radius: 6px;
    transition: transform ease 0.2s, box-shadow ease 0.2s;
    display: inline-block;
    font-size: 18px;
}

.primary-button:hover {
    transform: translate(0, -3px);
    box-shadow: 0 20px 80px -10px var(--primbuttn);
}


.secondary-button {
    padding: 1em 2em;
    background-color: var(--secbuttn);
    color: var(--primary);
    border-radius: 6px;
    transition: transform ease 0.2s, box-shadow ease 0.2s;
    display: inline-block;
    font-size: 18px;
}

.secondary-button:hover {
    transform: translate(0, -3px);
}




/* hero */

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 6em;
}

.color-effect {
    background: linear-gradient(120deg, var(--primbuttn), var(--accent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
}

.hero-cta {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.hero-scroll {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    font-size: 16px;
}




/* part 1 */

.part1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.part1-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.part1-card {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 3em;
}

.part1-card-bg {
    background-color: var(--primary);
    opacity: 5%;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    flex: 1;
    top: 0;
    left: 0;
}

.part1-card-img {
    height: 50%;
}

.highlight {
    z-index: 5;
}

.highlight::before {
    content: "";
    background-color: var(--accent);
    height: 12px;
    width: 100%;
    display: block;
    transform: translate(0, 32px);
    z-index: -5;
    opacity: 50%;
    position: relative;
}



/* part 2 */

.part2 {
    background-color: var(--accent);
    border-radius: 6px;
    padding: 3em 5em;

    display: flex;
    flex-direction: row;
    gap: 6em;
    justify-content: space-between;
}

.part2-left {
    width: 30%;
}

.part2-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    gap: 5em;
}

.step {
    width: 30%;
    flex-grow: 2;
}

.one::before {
    content: '1';
    font-size: var(--h2);
    font-weight: 800;
    position: absolute;
    transform: translate(-1em, 0);
}

.two::before {
    content: '2';
    font-size: var(--h2);
    font-weight: 800;
    position: absolute;
    transform: translate(-1em, 0);
}

.three::before {
    content: '3';
    font-size: var(--h2);
    font-weight: 800;
    position: absolute;
    transform: translate(-1em, 0);
}

.four::before {
    content: '4';
    font-size: var(--h2);
    font-weight: 800;
    position: absolute;
    transform: translate(-1em, 0);
}


/* part 3 */

.part3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 2em;
}

.part3-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.part3-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 100%;
    padding: 1em 3em 3em 3em;
    position: relative;
    gap: 2em;
}

.promo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.promo-text {
    color: var(--primbuttn);
}

.promo-img {
    background-color: var(--primbuttn);
}


.part3-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
    
}

.part3-bg {
    border: solid 4px var(--secbuttn);
    opacity: 30%;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    z-index: -5;
    top: 0;
    left: 0;
}

.best {
    border: none;
    background-color: var(--primbuttn);
    opacity: 5%;
}

.part3-card-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.part3-card-text > p {
    text-align: center;
}

.part3-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check-icon {
    width: 20%;
}

.list-item {
    width: 80%;
}



/* part 4 */

.part4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: 100%;
}

.faq-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
}

.faq {
    background-color: var(--secbuttn);
    padding: 0.5em 2em;
    border-radius: 6px;
    width: 100%;
    transition: all ease 0.2s;
    cursor: pointer;
}

.faq-q {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: all ease 0.2s;
}

.faq-q > p {
    font-weight: bold;
}

.faq-a {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: max-height ease 0.2s, opacity ease 0.2s, visibility ease 0.2s;
}

.faq-a.expand {
    display: flex;
    opacity: 1;
    visibility: visible;
    transition: max-height ease 0.2s, opacity ease 0.2s, visibility ease 0.2s;
}

.faq-icon {
    transform: rotate(0deg);
    transition: all ease-in-out 0.2s;
}

.faq-icon.expand {
    transform: rotate(45deg);
    transition: all ease-in-out 0.2s;
}

.part4-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* part 5 */

.part5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.reversed {
    color: var(--secondary);
    background-color: var(--primary);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
    border-radius: 6px;
    background-color: var(--primary);
    color: var(--secondary);
    padding: 3em 5em;
    width: 100%;
    margin-bottom: 10em;
}

.footer-cols {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3em;
    width: 100%;
}

.footer-col {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 30%;
}

.menu-item:hover {
    transform: translate(0, -3px);
}


.toolbar.highlighted {
    animation-name: highlight;
    animation-duration: 0.4s;
}

@keyframes highlight {
    0%, 100% {transform: translate(0, 0px) scale(1); transition: all 0.4s cubic-bezier(.47,1.64,.41,.8);}
    50% {transform: translate(0, -10px) scale(1.02); transition: all 0.4s cubic-bezier(.47,1.64,.41,.8);}
}

